
.slick-prev{
    width: 40px !important;
    height: 40px !important;
    border-radius: 8px !important;
    background-color: red !important;
    opacity: 0.7 !important;
    top: 76px !important;
    z-index: 2;
  }
  
  
  .slick-next {
    width: 40px !important;
    display: block ;
    height: 40px !important;
    background: red !important; 
    top: 76px !important;
    border-radius: 6px;
  
    opacity: 0.7;
    &:hover{
        opacity: 1;
    }
  }